* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 1.1em;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.slides {
  width: 1000px;
  height: 300px;
  display: flex;
  overflow-x: auto;

  -webkit-overflow-scrolling: touch;

  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
}

.slide {
  width: 1000px;
  flex-shrink: 0;
  height: 100%;

  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.pill {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.blocked {
  background-color: #ffffff;
  color: #ff3333;
}

.intesting {
  background-color: #c4dfe6;
  color: #66a5ad;
}

.indevelopment,
.inprogress {
  background-color: #ffffbf;
  color: #fdae61;
}

.readyfordevelopment,
.readyfortesting {
  background-color: #ffffff;
  color: #f46d43;
}

.done {
  background-color: #e4ea8c;
  color: #3f6c45;
}
